<ul class="adress-ul">
    <li *ngFor="let adresse of adresseList" (click)="showDetails(adresse)">
      {{adresse.adresseNumber}}
      <i *ngIf="!adresse.isDefect" class="nav-icon icon-check adress-icon"></i>
      <i *ngIf="adresse.isDefect" class="nav-icon icon-minus adress-icon"></i>
    </li>
</ul>
