<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logoDaschboard.jpg', width: 89, height: 55, alt: 'logoDaschboard'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto"></ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>


<app-footer>
  <span><a href="https://coreui.io">Daschboard</a> &copy; 2020 all rights reserved.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">Eliane Ngono Onana</a></span>
</app-footer>
