<mat-form-field>
  <mat-label>Meine Leuchte</mat-label>
  <label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </label>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataList" matSort>

    <!-- Zeitstempel Column -->
    <ng-container matColumnDef="zeitstempel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> zeitstempel
      </th>
      <td mat-cell *matCellDef="let row"> {{row.zeitstempel}} </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> adresse
      </th>
      <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
    </ng-container>

    <ng-container matColumnDef="anwesend">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> anwesend
      </th>
      <td mat-cell *matCellDef="let row"> {{row.anwesend}} </td>
    </ng-container>

    <ng-container matColumnDef="lichtlevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lichtlevel
      </th>
      <td mat-cell *matCellDef="let row"> {{row.lichtlevel}} </td>
    </ng-container>

    <ng-container matColumnDef="betriebZei">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> betriebZei
      </th>
      <td mat-cell *matCellDef="let row"> {{row.betriebZei}} </td>
    </ng-container>

    <ng-container matColumnDef="anzahlS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> anzahlS
      </th>
      <td mat-cell *matCellDef="let row"> {{row.anzahlS}} </td>
    </ng-container>

    <ng-container matColumnDef="exVerSP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> exVerSP
      </th>
      <td mat-cell *matCellDef="let row"> {{row.exVerSP}} </td>
    </ng-container>

    <ng-container matColumnDef="freqVersp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> freqVersp
      </th>
      <td mat-cell *matCellDef="let row"> {{row.freqVersp}} </td>
    </ng-container>

    <ng-container matColumnDef="leistungFA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> leistungFA
      </th>
      <td mat-cell *matCellDef="let row"> {{row.leistungFA}} </td>
    </ng-container>
    <ng-container matColumnDef="tempTrei">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tempTrei
      </th>
      <td mat-cell *matCellDef="let row"> {{row.tempTrei}} </td>
    </ng-container>

    <ng-container matColumnDef="prozStro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> prozStro
      </th>
      <td mat-cell *matCellDef="let row"> {{row.prozStro}} </td>
    </ng-container>

    <ng-container matColumnDef="anzahlST">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> anzahlST
      </th>
      <td mat-cell *matCellDef="let row"> {{row.anzahlST}} </td>
    </ng-container>

    <ng-container matColumnDef="anzahlSR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> anzahlSR
      </th>
      <td mat-cell *matCellDef="let row"> {{row.anzahlSR}} </td>
    </ng-container>
    <ng-container matColumnDef="betriebZRu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> betriebZRu
      </th>
      <td mat-cell *matCellDef="let row"> {{row.betriebZRu}} </td>
    </ng-container>
    <ng-container matColumnDef="spanung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> spanung
      </th>
      <td mat-cell *matCellDef="let row"> {{row.spanung}} </td>
    </ng-container>
    <ng-container matColumnDef="strom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> strom
      </th>
      <td mat-cell *matCellDef="let row"> {{row.strom}} </td>
    </ng-container>
    <ng-container matColumnDef="tempLed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tempLed
      </th>
      <td mat-cell *matCellDef="let row"> {{row.tempLed}} </td>
    </ng-container>
    <ng-container matColumnDef="wirkenergie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> wirkenergie
      </th>
      <td mat-cell *matCellDef="let row"> {{row.wirkenergie}} </td>
    </ng-container>
    <ng-container matColumnDef="wirkerSC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> wirkerSC
      </th>
      <td mat-cell *matCellDef="let row"> {{row.wirkerSC}} </td>
    </ng-container>
    <ng-container matColumnDef="wirkleistung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> wirkleistung
      </th>
      <td mat-cell *matCellDef="let row"> {{row.wirkleistung}} </td>
    </ng-container>
    <ng-container matColumnDef="wirkleisSk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> wirkleisSk
      </th>
      <td mat-cell *matCellDef="let row"> {{row.wirkleisSk}} </td>
    </ng-container>
    <ng-container matColumnDef="sheinenerg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> sheinenerg
      </th>
      <td mat-cell *matCellDef="let row"> {{row.sheinenerg}} </td>
    </ng-container>
    <ng-container matColumnDef="sheiESK">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> sheiESK
      </th>
      <td mat-cell *matCellDef="let row"> {{row.sheiESK}} </td>
    </ng-container>
    <ng-container matColumnDef="sheinLeist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> sheinLeist
      </th>
      <td mat-cell *matCellDef="let row"> {{row.sheinLeist}} </td>
    </ng-container>
    <ng-container matColumnDef="sheinleisSk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> sheinleisSk
      </th>
      <td mat-cell *matCellDef="let row"> {{row.sheinleisSk}} </td>
    </ng-container>
    <ng-container matColumnDef="lastenerg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastenerg
      </th>
      <td mat-cell *matCellDef="let row"> {{row.lastenerg}} </td>
    </ng-container>
    <ng-container matColumnDef="lastenergSk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastenergSk
      </th>
      <td mat-cell *matCellDef="let row"> {{row.lastenergSk}} </td>
    </ng-container>
    <ng-container matColumnDef="undefined">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> undefined
      </th>
      <td mat-cell *matCellDef="let row"> {{row.undefined}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100, 150]"></mat-paginator>
</div>


<a (click)="showStat()">Vorwärtsapnnug
<i *ngIf="isSpannungDefect === 'false'" class="nav-icon icon-check adress-icon"></i>
<i *ngIf="isSpannungDefect === 'true'" class="nav-icon icon-minus adress-icon"></i>
</a>
<br><br>
<a (click)="showZeit()">Betriebzeit
  <i *ngIf="isBetriebzeitDefect === 'false'" class="nav-icon icon-check adress-icon"></i>
  <i *ngIf="isBetriebzeitDefect === 'true'" class="nav-icon icon-minus adress-icon"></i>
</a>
<br><br>

<a (click)="showTemperatur()"> Treibertemperatur

  <i *ngIf="isTreibertemperaturDefect === 'false'" class="nav-icon icon-check adress-icon"></i>
  <i *ngIf="isTreibertemperaturDefect === 'true'" class="nav-icon icon-minus adress-icon"></i>

</a>
<br><br>

<a (click)="showPowerfactor()"> Powerfactor

  <i *ngIf="isPowerfactorDefect === 'false'" class="nav-icon icon-check adress-icon"></i>
  <i *ngIf="isPowerfactorDefect === 'true'" class="nav-icon icon-minus adress-icon"></i>

</a>




