// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.icon-check{
  color: green;
  font-weight: bold;

}
.icon-minus{
  color: red;
  font-weight: bold;
}
