<mat-form-field>
  <mat-label>Meine Leuchte</mat-label>
  <label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </label>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listJsonName" matSort>

    <!-- Zeitstempel Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Action" class="tableAction">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <i class="far fa-eye" (click)="showData(row)"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<a (click)="goToOndrive()">Get Data From Ondrive</a>

