table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
td.mat-cell.cdk-column-Action.mat-column-Action.ng-star-inserted > i{
  cursor: pointer !important;
}
